.sidebar {
    background-color: #19485f;
    color: white; 
  }
  
  .sidebar .list-group-item {
    background-color: #19485f;
    color: white;
    border: none; 
  }
  
  .sidebar .list-group-item:hover {
    background-color: #163e5f; 
  }
  